{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Best Places !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_front') }}">bestPlaces</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                       
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == 'app_front' %}active{% endif %}" href="{{ path('app_front') }}">{% trans from
                                'menu' %}Home{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if route_name == 'app_static_page' %}active{% endif %}"
                                href="{{ path('app_static_page', {'page':'presentation'}) }}">{% trans from 'menu' %}Presentation{% endtrans
                                %}</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_place_index') }}">{% trans from 'menu' %}My places{% endtrans %}</a>
                            </li>
                        {% endif %}
                    </ul>

                    
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home_local',{'_locale':'fr'}) }}">Fr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home_local',{'_locale':'en'}) }}">En</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                       
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">{% trans from 'menu' %}Logout{% endtrans %}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">{% trans from 'menu' %}Login{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">{% trans from 'menu' %}Registrer{% endtrans %}</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form action="{{ path('app_search') }}" method="POST" autocomplete="off" style="position:relative;" class="d-flex" role="search" data-controller="search" data-search-url-value="{{ path('app_api_search') }}" data-search-urlPlace-value="{{ path('app_view') }}" data-search-urlpicture-value="/uploads/place/">
                        <input name="keyword" class="form-control me-2" list="findPlaces" data-action="search#searchUpdate" type="search" placeholder="Rechercher" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Rechercher</button>
                        <div data-search-target="datalist" style="position:absolute; z-index:999; top:50px; width:100%; max-height:300px; background-color:white; display:none;" class="shadow p-3 mb-5 bg-body rounded overflow-auto"></div>
                    </form>
                </div>
            </div>
        </nav>
        <main class="container-fluid">
            <div class="row">
                <div class="col-9">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-3">
                    <h2>2 lieux au hasard</h2>
                    {% for randomPlace in randomPlaces %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
